# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
# Database
*.db
*.sqlite
*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.svelte-kit/
# frontend/public/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

sentry-alt
server.pid
.env